@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.scroll-smooth{
  scroll-behavior: smooth;
}

.font-system-ui {
  font-family: system-ui, sans-serif;
}

.main-bg-color {
  background-color: #673888;
}

.secondary-bg-color {
  background-color: #363b74;
}

.border-main-color {
  border-color: #c79dd7;
}

.separator-border-color {
  border-color: white;
}